BasedOnStyle: Microsoft
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: Consecutive
IndentWidth: 4
IndentAccessModifiers: false
AccessModifierOffset: -4